{% extends 'basetemplate.html'%}
{% load static %}


{% block content %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.grid-child-content{
margin-top: 10px;
}
h4{
  margin-left: 100px;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
color:  #08546C;
  }
  .dropdown-content a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color:  #08546C;

  }
  .content-info img{
    width: 100%;
    height: 80%;
    padding: 0 100px;
    
    
  }
  .content-info h2{
    text-align: center;
    color:  #08546C;
    padding: 5px;
  }
  .dropdown-content{
    margin-left: 100px;

  }

</style>
<div class="content-info">
  <h2>Analysis of Bombay Stock Exchange India</h2>
  <img src={% static "stocks.png" %} alt="">
  
</div>

<div class="grid-container">

  <div class="grid-child purple">
    
<div class="sidebar">
  <!-- <button class="dropbtn">Filters</button> -->
  <div class="dropdown-content">
    <li>
      <h4>Filters</h4>
      <hr>
    <ol><a href={% url "filter_trades_1000" %}>Trades>1000 and Shares>1000 and close>1000</a></ol>
    <ol><a href={% url "filter_trades_max" %}>Maximum number of trades </a></ol>
    <ol><a href={% url "filter_trades_max" %}>Maximum number of trades </a></ol>
    <ol><a href={% url "filter_trades_max" %}>Maximum number of trades </a></ol>
    <ol><a href={% url "filter_trades_max" %}>Maximum number of trades </a></ol>
  </li>
  </div>
</div>
      
  </div>

  <div class="grid-child-content">
    {%block content1%}

    {%endblock content1%}
  </div>

</div>


 
{% endblock %}

