{% extends 'basetemplate.html'%}
{% load static %}


{% block content %}
<style>
  .sidebar{
    margin-top: 170px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 700px;
    background-color: turquoise;
}
.grid-child-content{
margin-top: 10px;
}
h4{
  margin-left: 100px;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
color:  #08546C;
  }
  .dropdown-content a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color:  #08546C;

  }
  .content-info img{
    width: 100%;
    height: 80%;
    padding: 0 100px;
    
    
  }
  .content-info h2{
    text-align: center;
    color:  #08546C;
    padding: 5px;
  }
  .dropdown-content{
    margin-left: 100px;

  }
  .querybox{
    padding-top: 50px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    
  
  
  }
  .querybox button{
    background-color: teal;
    color:#ffffff;
  }
a{
  font-size: 1rem;
  color: #ffffff;
}
h4{
  font-size: 2rem;
  color: #ffffff;
}
h1{
 
  color:  teal;
  
}
.queryback{
  background-image: url("/static/query.png");
  background-attachment:cover;
  
}
p{
  color:teal;
}


</style>
<div class="content-info">
  <h2>Analysis of Bombay Stock Exchange India</h2>
  <img src={% static "stocks.png" %} alt="">
  
</div>

<div class="grid-container">

  <div class="grid-child purple">

<div class="sidebar">
  <!-- <button class="dropbtn">Filters</button> -->
  <div class="dropdown-content">
    <br>
      <h4>Filters</h4>
      <hr>
     <br>
     <br>
    <a href={% url "filter_trades_1000" %} style="color:#ffffff;">Trades>1000 and Shares>1000 and close>1000</a><br><br>
    <a href={% url "filter_trades_1000" %} style="color:#ffffff;">Trades>1000 and Shares>1000 and close>1000</a><br><br>
    <a href={% url "filter_trades_1000" %} style="color:#ffffff;">Trades>1000 and Shares>1000 and close>1000</a>
    
    
 
  </div>
</div>
      
  </div>

  <div class="grid-child-content">
    {%block content1%}

    {%endblock content1%}
  </div>

</div>
<center>
<h1>Query Box</h1>
<p>Query box checks trades shares and close value of stocks</p>
</center>
<div class="queryback">

<section>
  
<div class="querybox">
<center>
  
  <form type="get">
      
    <input type="text" id="trades" placeholder="Enter trades" name="trades">
    <input type="text" id="shares" placeholder="Enter shares" name="shares">
    <input type="text" id="close" placeholder="Enter close" name="close"><button type="submit">Submit</button>
  </form>
</center>

</section>
<center>
  <style>
    .scrollbar {
     display:block;
     border: 0.2rem ;
     padding:5px;
     margin-top:5px;
     width:800px;
     height:500px;
     overflow:scroll;
  }
  
</style>
<div class="scrollbar" id="my_scroll_bar">
    <div class="table table-striped">	
    
    <table border="0.1" width="1000">
        <thead>
    
            <tr class="thead-light">
                
              <th scope="col">Security name</th>
              
            </tr>
          </thead>
         <tbody>
     
    
    {% for i in lis %}
    
    <tr>
        
    <td>{{ i.security_name }} </td>
    
   
    {% endfor %}
    </tr>
  
    </tbody>
    </div>
    </table>
        
    </div>

</div>
</center>

</div>

</div>

{% endblock %}

