{% load static %}
<html>
<head>
  
    <title>STOCKS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href={% static "style.css" %} >
    <link rel="script" href={% static "index.js" %}>

<!----------------------------------------------navbar ---------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 5rem;">
      
        <a class="navbar-brand" href="#"><img src={% static "bar.png" %}/>Stocker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active" id="home-page">
             
              <a class="nav-link" href="{%url 'home' %}">Home</a>
            </li>
            
            <li class="nav-item active">
             
              <a class="nav-link" href={% url "analysis" %}>Analysis</a>
            </li>

            <li class="nav-item active">
             
              <a class="nav-link" href={% url "upload" %}>Upload</a>
            </li>
            <li class="nav-item-left active">
             
              <a class="nav-link"  href={% url "view" %}>Data</a>
            </li>
           
            <li class="nav-item-left-1 active">
             
              <a class="fa fa-download" style="font-size:20px;" href={% static "download.csv" %} download></a>
              
            </li>
            <li class="nav-item-left-2 active">
            <a class="fa fa-user-circle" style="font-size:20px;" href="" ></a></li>
            <li class="nav-item-left-3 active">
              <a class="nav-link" href={% url 'signout' %}>Signout</a>
            </li>
         
<!--             
            {% if  user.username %}
            <li class="nav-item active">
              <a class="nav-link" href={% url 'signup' %}>Signup</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={% url 'signin' %}>Signin</a>
              </li>
              {% endif %} -->
          </ul>
        </div>
      </nav>
</head>




<!----     head section end----------------------------------------------->
<style>
  .nav-item-left-1{
    margin-left: 650px;

  }
  .fa{
    padding:10px 10px;

  
  }
  .navbar-brand{
   color: #3222c2;
  font-size: 1rem;
  padding: 0px 20px;
  }
  .navbar-brand img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .nav-link{
    font-size: 1rem;
  }
</style>
<body>
{% block content %}

{% endblock %}
</body>






<!-- footer section--------------------------------------------- -->

 
  </html>
  