{% load static %}
<html>
<head>
    <title>STOCKS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href={% static "style.css" %} >
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 7rem;">
        <a class="navbar-brand" href="#">Stocker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href={% url 'home' %}>Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href={% url 'signup' %}>Signup</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={% url 'signin' %}>Signin</a>
              </li>
              
          </ul>
        </div>
      </nav>
</head>
<br><br><br>
<body>
<center><h1>Stocks Analysis</h1>
<br>

<div class="styling">
    
<div class="search">
    <br>
    <br>
    
    <br>
    <br>
    <h5>Stock analysis and screening tool for investors in India.</h5>
    <style>
      p{
        margin-top: 20px;
        font-size: 15px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    </style>
    
    <form type="get">
      
    <input type="search" id="gsearch" placeholder="Search by security code ex : 500002" name="g"><button type="submit">Enter</button>
  </form><p>Note : Security Code is a unique identification number for Company.</p></div>
<P>SURF:
<a  href= {% url 'view' %} class="btn btn-light "style="width:7rem"; >Companies</a>
<a  href= {% url 'upload' %} class="btn btn-light "style="width:7rem"; >Upload</a>

<a  href={%url 'analysis' %} class="btn btn-light "style="width:7rem";>Analysis</a><br><br>
<a href={% static 'download.csv' %} class="btn btn-light "style="width:13rem"; download>Bhavcopy Download</a>
</P>

<br>
<br><br>
<br><br>
<br>

<div class="main">
  <div class="table">	
  
  <table border="0.1" width="1500">
   
  
  {% for vi in stock_obtained %}
  <thead>
  
    <tr class="thead-light">
      
      <th scope="col">Security name</th>
      <th scope="col">Security code</th>
      <th scope="col">Date</th>
      <th scope="col">Close</th>
      <th scope="col">Shares</th>
      <th scope="col">Trades</th>
      <th scope="col">Isin</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      
      
    </tr>
  </thead>
 <tbody>
  <tr >
  
  <td>{{ vi.security_name }} </td>
  <td>
  {{ vi.security_code }}</td>
  <td>
  {{ vi.copy_date }}</td>
  <td> 
  {{ vi.close }}</td>
  <td>
  {{ vi.no_of_shares }}</td>
  <td>
  {{ vi.no_trades }}</td>
  <td>
  {{ vi.isin_code }}</td>
  <td>
  {{ vi.open }}</td>
  <td>
  {{ vi.high }}</td>
  <td>
  {{ vi.low }}</td>
 
  {% endfor %}
  </tr>

  </tbody>
  </div>
  </table></center>
  </div>
  
  </div>
  </center>
<br>
<br>


</div>


</div>
<style>
  .footer{
    height: 70px;
    background-color:lightgray;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #08546C;
  }
</style>
<p1><a href="https://www.bseindia.com/">Bombay Stock Exchange(BSE) used in project. </a>    <a href="#">Todays Stock News</a></p1>

<div class="footer">
  <br>
  <center> Made with ❤ in India.<br>
    &copy;Copyrights Reserverd
 </center>
</div>

</body>

</html>
