{% extends 'basetemplate.html'%}
{% load static %}
{% block content %}

<br><br><br>

<center><h1>Stocks Analysis</h1>
<br>

<div class="styling">
    
<div class="search">
    <br>
    <br>
    
    <br>
    <br>
    <h5>Stock analysis and screening tool for investors in India.</h5>
    <style>
      p{
        margin-top: 20px;
        font-size: 15px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    </style>
    
    <form type="get">
      
    <input type="search" id="gsearch" placeholder="Search by security code ex : 500002" name="g"><button type="submit">Enter</button>
  </form><p>Note : Security Code is a unique identification number for Company.</p></div>
<P>SURF:
<a  href= {% url 'view' %} class="btn btn-light "style="width:7rem"; >Companies</a>
<a  href= {% url 'upload' %} class="btn btn-light "style="width:7rem"; >Upload</a>

<a  href={%url 'analysis' %} class="btn btn-light "style="width:7rem";>Analysis</a><br><br>
<a href={% static 'download.csv' %} class="btn btn-light "style="width:13rem"; download>Bhavcopy Download</a>
</P>

<br>
<br><br>
<br><br>
<br>

<div class="main">
  <div class="table">	
  
  <table border="0.1" width="1500">
   
  
  {% for vi in stock_obtained %}
  <thead>
  
    <tr class="thead-light">
      
      <th scope="col">Security name</th>
      <th scope="col">Security code</th>
      <th scope="col">Date</th>
      <th scope="col">Close</th>
      <th scope="col">Shares</th>
      <th scope="col">Trades</th>
      <th scope="col">Isin</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      
      
    </tr>
  </thead>
 <tbody>
  <tr >
  
  <td>{{ vi.security_name }} </td>
  <td>
  {{ vi.security_code }}</td>
  <td>
  {{ vi.copy_date }}</td>
  <td> 
  {{ vi.close }}</td>
  <td>
  {{ vi.no_of_shares }}</td>
  <td>
  {{ vi.no_trades }}</td>
  <td>
  {{ vi.isin_code }}</td>
  <td>
  {{ vi.open }}</td>
  <td>
  {{ vi.high }}</td>
  <td>
  {{ vi.low }}</td>
 
  {% endfor %}
  </tr>

  </tbody>
  </div>
  </table></center>
  </div>
  
  </div>
  </center>
<br>
<br>


</div>


</div>

<p1><a href="https://www.bseindia.com/">Bombay Stock Exchange(BSE) used in project. </a>    <a href="#">Todays Stock News</a></p1>



{% endblock %}