{% extends 'basetemplate.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href={% static "style.css" %}>
<style>
.styling {
  height:100%;
  /* background-color:#08546C; */
  background-image: url('/static/bg-masthead.jpg') ;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

  p{
    
    font-size: 20px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h5{
color:#fff;
font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
/* font-family: Verdana;
font-size: 2.5rem; */
font-size: 2.5rem;
padding: 20px 0px;
}
input{
  padding:10px;
  font-family: Verdana;
  
  

}
input ::placeholder{
  color:rgb(196, 191, 191);
}
.main_content{
  background-color:#08546C;
  width: 100%;
  height: 100%;
  background-image: url('/static/bar.png') ;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 8rem;
  

}
h1{
  color:white;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.links{
  align-content: center;
  padding: 100px 500px;
}
.search{
  padding: 100px;
}
form{
  width: 100%;
}
img{
  border-radius: 30%;
  padding: 0px;
}

</style>
<!--main secion----------------------------------------------------->
<center>


<div class="styling">
    
<div class="search">
  <img src={% static 'logo.jpg' %} alt="Avatar">
    
    <h5>Stock analysis and screening tool for investors in<br> India!</h5>


    <form type="get">
      
    <input type="search" id="gsearch" placeholder="Search by security code ex : 500002" name="g"><button type="submit">Search</button>
  </form>
  
  <p>Note : Security Code is a unique identification number for Company.</p>
</div>
<!----------------------------------------------------------------------------------------->

<!--      about section--------->


<div class="main">
  <div class="table">	
  
  <table border="0.1" width="1500">
   
  
  {% for vi in stock_obtained %}
  <thead>
  
    <tr class="thead-light">
      
      <th scope="col">Security name</th>
      <th scope="col">Security code</th>
      <th scope="col">Date</th>
      <th scope="col">Close</th>
      <th scope="col">Shares</th>
      <th scope="col">Trades</th>
      <th scope="col">Isin</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      
      
    </tr>
  </thead>
 <tbody>
  <tr >
  
  <td>{{ vi.security_name }} </td>
  <td>
  {{ vi.security_code }}</td>
  <td>
  {{ vi.copy_date }}</td>
  <td> 
  {{ vi.close }}</td>
  <td>
  {{ vi.no_of_shares }}</td>
  <td>
  {{ vi.no_trades }}</td>
  <td>
  {{ vi.isin_code }}</td>
  <td>
  {{ vi.open }}</td>
  <td>
  {{ vi.high }}</td>
  <td>
  {{ vi.low }}</td>
 
  {% endfor %}
  </tr>

  </tbody>
  </div></div>
  </table>

</center>
</div>




<!--links     ---------------------------------------->
<style>
  .decor{
    /* background-color:#107394; */
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:#08546C;
    text-align: center;
    margin-top: 5px;
   
    background-image: url('/static/uplift.png');
  }
  .decor a{
    color: #08546C;
    text-decoration: none;
    justify-content: center;
    font-size: 2rem;
    padding: 30px;
    
  }
  .decor_links{
  margin: 5px;
  /* top-bottom    leftright*/
  padding: 180px 20px;
  
  }
  </style>
<section>
  <div class="decor">
    <div class="decor_links">
      <h6>Explore</h6>
      
<a href="https://www.bseindia.com/">Bombay Stock Exchange(BSE) </a>   
<a href={% url 'news'  %}>Todays Stock News</a></div>
</div>

</section>
<!-- <section>
  <div class="description">
    <P>SURF:
      <a  href= {% url 'view' %} class="btn btn-light "style="width:7rem"; >Companies</a>
      <a  href= {% url 'upload' %} class="btn btn-light "style="width:7rem"; >Upload</a>
      
      <a  href={%url 'analysis' %} class="btn btn-light "style="width:7rem";>Analysis</a>
      <a href={% static 'download.csv' %} class="btn btn-light "style="width:13rem"; download>Bhavcopy Download</a>
      </P>
  </div>
</section> -->
  



{% endblock %}