{% extends 'basetemplate.html'%}
{% load static %}
{% block content %}
    <br>
    <br>
<style>
    h5{
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    

</style>

<center>
    <h5>Bombay Stock Exchange Data</h5> <a href={% static 'download.csv' %} download>Latest Bhavcopy Download</a>
    
    <div class="main">
        <div class="table table-striped">	
        
        <table border="0.1" width="1500">
            <thead>
        
                <tr class="thead-light">
                    <th scope="col">id</th>
                  <th scope="col">Security name</th>
                  <th scope="col">Security code</th>
                  <th scope="col">Date</th>
                  <th scope="col">Close</th>
                  <th scope="col">Shares</th>
                  <th scope="col">Trades</th>
                  <th scope="col">Isin</th>
                  <th scope="col">Open</th>
                  <th scope="col">High</th>
                  <th scope="col">Low</th>
                  
                  
                </tr>
              </thead>
             <tbody>
         
        
        {% for vi in dff %}
        
        <tr >
            <td>{{ vi.id}} </td>
            
        <td>{{ vi.security_name }} </td>
        <td>
        {{ vi.security_code }}</td>
        <td>
        {{ vi.copy_date }}</td>
        <td> 
        {{ vi.close }}</td>
        <td>
        {{ vi.no_of_shares }}</td>
        <td>
        {{ vi.no_trades }}</td>
        <td>
        {{ vi.isin_code }}</td>
        <td>
        {{ vi.open }}</td>
        <td>
        {{ vi.high }}</td>
        <td>
        {{ vi.low }}</td>
       
        {% endfor %}
        </tr>
      
        </tbody>
        </div>
        </table></center>
        </div>
        
        </div>
        </center>
      <br>
      <br>
      <br>
      
      </div></center>
{% endblock %}