{% extends 'basetemplate.html'%}
{% load static %}
{% block content %}
	
  


<center>
    <h5>Upload Bombay stock exchange data </h5>
    <br>
    <br>
    <br>
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">ADMIN PANEL</div>
  <div class="card-body text-primary">
    <h5 class="card-title">BHAV COPY</h5>
    <div class='card border-info'>
    
     
<form   method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}
                        <div class="">
                            <p class="text-head">Upload File</p><br><br>
                            Date: <input type="Date" name="bhav_copy_date" placeholder="Date" required="">
                            <br><br>
                            <input type="file" name="bhav_copy_file" required="">
                        </div>
                        <button type="submit" class="signinbutton btn">Upload</button>
                    </form>
                </div></div></div>
         
</form>
   </div>
  </div>
</div>


</div>

</center>

{% endblock %}